.button {
	align-items: center;
	background-color: #076181;
	border-color: transparent;
	border-radius: 0.25rem;
	border-width: 1px;
	color: white;
	cursor: pointer;
	display: inline-flex;
	font-weight: 600;
	gap: 0.375rem;
	transition: background-color 0.2s;
	height: 40px;
	font-size: 16px;
	padding: 20px 12px;
}

/* States styles */
.button:focus-visible {
	outline: .25rem solid #05878A;
	outline-offset: 2px;
    outline-offset: .25rem;
}

.button:hover {
	background-color: #0E536C;
}

.button:active {
	background-color: #093849;
}

/* Disabled styles */
.button:disabled {
	background-color: #C9C9C9;
	color: #454545;
}

/* Sizes */

.sizeStandard {
	height: 44px;
	font-size: 16px;
	padding: 20px 12px;
}

.sizeBig {
	height: 60px;
	font-size: 22px;
	padding: 24px 16px;
}

/* Variant: secondary */
.Secondary {
	background-color: #67074E;
	color: white;
}

.Secondary:hover {
	background-color: #7A1D62;
}

.Secondary:active {
	background-color: #50073D;
}

/* Type: Outline */
.Outline {
	border-color: #076181;
	border-width: 2px;
	color: #076181;
	background-color: transparent;
}

.Outline:hover {
	background-color: #F2F6F8;
}

.Outline:active {
	background-color: #DBE1E4;
}

/* Variant: Unstyled */
.Unstyled {
	background-color: transparent;
	color: #076181;
	text-decoration: underline;
}

.Unstyled:hover {
	background-color: #F2F6F8;
}

.Unstyled:active {
	background-color: #D9E3E8;
}